<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="content-language" content="en-ca"/>
    <base href ="{global.baseUrl}" />

    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}" />
    <link type="image/x-icon" rel="icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="public/app.css" />
    <script type="text/javascript" href="utf-8" src="public/app.js"> </script>
  </head>
  <body class="{body.class}">
    <div class="pageWrapper">
      <nav>
        <a href="/" class="logo" >
          <img src="public/logo.png" alt="Logo" />
        </a>
        <ul class="menue">
          <li><a href="/">Home</a></li>

          <li><a href="/account/create">Signup</a></li>
          <li><a href="/session/create">Login</a></li>

          <li><a href="/checks/all">Dashboard</a></li>
          <li><a href="/account/edit">Account Settings</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </nav>
      <div class="content">


